{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'scss/style.css' %}">
    <title>Contact | VK Diamond</title>
</head>
<body>
    <section class="contact-section">
        <h2 class="section-heading">GET IN TOUCH</h2>
        <form method="post" id="contactForm">
            {% csrf_token %}
            <div class="md-container">
                <div class="row">
                    <div class="input-container">
                        <input type="text" name="fname" placeholder="First Name">
                        <input type="text" name="lname" placeholder="Last Name">
                    </div>
                    <input type="email" name="email" placeholder="Email Address">
                    <input type="tel" name="phone" placeholder="Mobile Number">
                    <textarea name="description" id="contact-description" cols="30" rows="7" placeholder="Your Message"></textarea>
                </div>
                <button type="submit" class="btn send-message">LET'S CONNECT</button>
            </div>
        </form>
    </section>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>